<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>

<div class="list">
  <input
    type="text"
    placeholder="Type a goal title here"
    name="name"
    [(ngModel)]="name"
  />
  <input type="text" placeholder="Type a goal description here" name="gdesc" />

  <button class="btn" (click)="addGoal()">Add a New Goal</button>
</div>

<ul *ngFor="let goal of goals; let i = index">
  <button class="btn" (click)="delete(i)">Delete</button>
  <li>{{ goal }}</li>
</ul>
