p {
  font-family: Lato;
}
.list {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 400px;
  justify-content: space-around;
}
.btn {
  color: white;
  background-color: blue;
  width: 80px;
  height: 30px;
}
